<div class="login-container">
  <div class="card shadow-sm login-card">
    <div class="card-body p-5">
      <h3 class="card-title text-center mb-4">Connexion</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email</label>
          <input type="email" class="form-control" id="emailInput" formControlName="username">
        </div>
        <div class="mb-3">
          <label for="passwordInput" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="passwordInput" formControlName="password">
        </div>
        <div class="d-grid mt-4">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>
