<div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ isEditMode ? 'Modifier la Localisation' : 'Ajouter une Localisation' }}</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="nom" class="form-label">Nom</label>
    <input type="text" id="nom" class="form-control" formControlName="nom">
  </div>
  <div class="mb-3">
    <label for="adresse" class="form-label">Adresse</label>
    <input type="text" id="adresse" class="form-control" formControlName="adresse">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">{{ isEditMode ? 'Mettre à jour' : 'Enregistrer' }}</button>
  <a routerLink="/dashboard/localisations" class="btn btn-secondary ms-2">Annuler</a>
</form>
