<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Tableau de bord des Produits</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/dashboard/produits/nouveau">
      ➕ Ajouter un Produit
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Référence</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits">
        <td>{{ produit.id }}</td>
        <td>{{ produit.nom }}</td>
        <td>{{ produit.reference }}</td>
        <td>{{ produit.categorie?.nom }}</td>
        <td>
          <button class="btn btn-sm btn-outline-secondary me-2" [routerLink]="['/dashboard/produits/modifier', produit.id]">Modifier</button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteProduit(produit.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
